.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        test
      .main-header__left-box__member-list
        Member: 
        .main-header__left-box__member-list__member 
          masa
    .main-header__edit-btn
      Edit

  .messages
    .message
      .message__upper
        .message__upper__user
          masa
        .message__upper__date
          2019/11/20(Wed) 17:43:01
      .message__text
        おはよう！

    .message
      .message__upper
        .message__upper__user
          masa
        .message__upper__date
          2019/11/20(Wed) 17:43:34
      .message__text
        今日は夜から雨

    .message
      .message__upper
        .message__upper__user
          masa
        .message__upper__date
          2019/11/20(Wed) 17:45:01
      .message__text
        テスト

  .form
    .form__new-message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}