@import "modules/variables";

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
}

  .main-header {
    height: 100px;
    background-color: $white;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;

    &__left-box {
      padding-top: 35px;
        
      &__current-group {
        padding-bottom: 15px;
        color: $black;
        font-size: 20px;
      }
      &__member-list {
        display: flex;
        color: $gray;
        font-size: 12px;
        
        &__member {
        }
      }
    }

    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: 1px solid $sky;
      color: $sky;
      font-size: 16px;
      
    }
  }

  .messages {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px;

    .message {
      padding-bottom: 46px;

      &__upper {
        display: flex;
        padding-bottom: 12px;

        &__user {
          color: $black;
          font-size: 16px;
        }
        &__date {
          color: $gray;
          font-size: 12px;
          padding-left: 15px;
        }
      }
      &__text {
        color: $black-other;
        font-size: 14px;
      }
    }
  }

  .form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    .form__new-message {
      display: flex;

      .input-box {
        position: relative;
        width: 100%;
        display: flex;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: $black-other;
          border-style: none;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 1.3rem;
          cursor: pointer;

          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $sky;
        color: $white;
        cursor: pointer;
      }
    }
  }